.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.card{
  cursor: pointer;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: cornflowerblue;
  margin-right: 30px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

.card:hover{
  box-shadow: 5px 5px 6px #3d3d3d;
}

.title{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.numbers{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}